/*Shaodows: alrededor y sombra de texto*/
.aroundow {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.txtshade {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


/*Imagen de fondo*/
.bluefondo {
    background-image: url('Images/fondo.webp');
    background-size: cover; /* bg-cover */
    background-position: center; /* bg-center */
    background-repeat: no-repeat; /* bg-no-repeat */
}

.min-full-screen {
    min-height: 100vh;
    min-width: 100vw;
}